@import "~bootstrap/scss/bootstrap";

body {
  background-color: #db9833;
}

.header {
  margin-bottom: 15vh;
}

/*
.button--inline {
  display: inline;
  color: red;
  padding: 0;
  border: none;
  background: none;
}
*/
.products__button--close {
  margin-left: 85%;
  position: relative;
}

.categoryName {
  font-size: 1.1rem;
}

.custom-dialog {
}
